<div class="wrapper-sm flow-layout-m">
  <h1>{tst:text value='pageTitle'}</h1>

  <tst:if compare="changed" operator="EQ" against="true">
    <p class="msg msg-success" role="status" aria-live="polite"><strong>{tst:text value='changedLabel'}</strong> {tst:text value='changedText'}</p>
  </tst:if>

  <tst:if compare="hasApi" operator="EQ" against="true">
    <tst:if compare="generatedApiKey" operator="NE" against="">
      <div class="msg msg-success | flow-layout-xs" role="status" aria-live="polite">
        <p>{tst:text value='apiKeyGeneratedText'}</p>
        <p><strong>{tst:text value='generatedApiKeyLabel'}</strong> <code>{tst:text value='generatedApiKey'}</code></p>
      </div>
    </tst:if>
  </tst:if>
  <div class="card | flow-layout-m">
    {tst:text value='form'}
  </div>

  <div class="card | flow-layout-m">
    <div class="card-header">
      <h2>{tst:text value='passwordProtectionHeading'}</h2>
    </div>
    <tst:if compare="createPasswordHref" operator="NE" against="">
      <p>{tst:text value='passwordProtectionIntro'}</p>
      <p><a href="{tst:text value='createPasswordHref'}">{tst:text value='createPasswordLink'}</a></p>
    </tst:if>
    <tst:else>
      <p>{tst:text value='passwordLoginIntro'}<br><a
          href="{tst:text value='loginPasswordHref'}">{tst:text value='loginPasswordHref'}</a></p>
      <div class="details">
        <dl>
          <dt>{tst:text value='passwordLabel'}</dt>
          <dd>
            ***
            [<a href="{tst:text value='changePasswordHref'}">{tst:text value='changeLink'}</a>]
            [<a href="{tst:text value='removePasswordHref'}">{tst:text value='removeLink'}</a>]
          </dd>
        </dl>
      </div>
    </tst:else>
  </div>


  <tst:if compare="hasApi" operator="EQ" against="true">
    <div class="card | flow-layout-m">
      <div class="card-header">
        <h2>{tst:text value='apiKeyHeading'}</h2>
      </div>
      <tst:if compare="generateApiKeyHref" operator="NE" against="">
        <div class="details">
          <dl>
            <dt>{tst:text value='apiKeyLabel'}</dt>
            <dd>
              <tst:if compare="apiKey" operator="NE" against="">
                {tst:text value='apiKey'}
                [<a href="{tst:text value='removeApiKeyHref'}" data-action="confirm-deletion" data-form="main form"
                 data-confirm="{tst:text value='removeApiKeyConfirm'}">{tst:text value='removeLink'}</a>]
              </tst:if>
              <tst:else>
                {tst:text value='apiKeyNone'}
              </tst:else>
              [<a href="{tst:text value='generateApiKeyHref'}">{tst:text value='generateApiKeyLink'}</a>]
            </dd>
          </dl>
        </div>
      </tst:if>
      <tst:else>
        <p>{tst:text value='apiKeyNeedsIpWhitelist'}</p>
      </tst:else>
    </div>
  </tst:if>
</div>