<div class="wrapper-sm flow-layout-m">
  <h1>{tst:text value='pageTitle'}</h1>

  <tst:if compare="changed" operator="EQ" against="true">
    <p class="msg msg-success" role="status" aria-live="polite"><strong>Erfolgreich:</strong> Die Änderungen wurden
      gespeichert.</p>
  </tst:if>

  <tst:if compare="hasApi" operator="EQ" against="true">
    <tst:if compare="generatedApiKey" operator="NE" against="">
      <div class="msg msg-success | flow-layout-xs" role="status" aria-live="polite">
        <p>Der neue API-Key wurde generiert. Er wird später nicht erneut angezeigt.</p>
        <p><strong>API-Key:</strong> <code>{tst:text value='generatedApiKey'}</code></p>
      </div>
    </tst:if>
  </tst:if>
  <div class="card | flow-layout-m">
    {tst:text value='form'}
  </div>

  <div class="card | flow-layout-m">
    <div class="card-header">
      <h2>Passwortschutz</h2>
    </div>
    <tst:if compare="createPasswordHref" operator="NE" against="">
      <p>Zusätzlich zum per E-Mail verschickten Einmalcode können Sie Ihren Zugang ins GUI mit einem Passwort
        schützen.</p>
      <p><a href="{tst:text value='createPasswordHref'}">Passwort erstellen</a></p>
    </tst:if>
    <tst:else>
      <p>Die Anmeldung mit Passwort erfolgt über eine separate Anmeldemaske:<br><a
          href="{tst:text value='loginPasswordHref'}">{tst:text value='loginPasswordHref'}</a></p>
      <div class="details">
        <dl>
          <dt>Passwort</dt>
          <dd>
            ***
            [<a href="{tst:text value='changePasswordHref'}">Ändern</a>]
            [<a href="{tst:text value='removePasswordHref'}">Entfernen</a>]
          </dd>
        </dl>
      </div>
    </tst:else>
  </div>


  <tst:if compare="hasApi" operator="EQ" against="true">
    <div class="card | flow-layout-m">
      <div class="card-header">
        <h2>API-Key</h2>
      </div>
      <tst:if compare="generateApiKeyHref" operator="NE" against="">
        <div class="details">
          <dl>
            <dt>API-Key</dt>
            <dd>
              <tst:if compare="apiKey" operator="NE" against="">
                {tst:text value='apiKey'}
                [<a href="{tst:text value='removeApiKeyHref'}">Entfernen</a>]
              </tst:if>
              <tst:else>
                keiner
              </tst:else>
              [<a href="{tst:text value='generateApiKeyHref'}">Neu generieren</a>]
            </dd>
          </dl>
        </div>
      </tst:if>
      <tst:else>
        <p>API-Keys können erst generiert werden, wenn eine IP-Whitelist hinterlegt ist.</p>
      </tst:else>
    </div>
  </tst:if>
</div>