<div class="main-header-action">
  <h1>{tst:text value='pageTitle'}</h1>
  <div class="btn-group">
    <a href="{tst:text value='userModHref'}" class="btn btn-secondary"><span>{tst:text value='editUserTitle'}</span></a>
    <tst:if compare="impersonateHref" operator="NE" against="">
      <a href="{tst:text value='impersonateHref'}" class="btn btn-secondary">{tst:text value='impersonateButton'}</a>
    </tst:if>
    <a href="{tst:text value='removeHref'}" class="btn btn-secondary btn-danger" data-action="confirm-deletion" data-form="main form"
       data-confirm="{tst:text value='deleteConfirm'}">{tst:text value='deleteButton'}</a>
  </div>
</div>

<tst:if compare="added" operator="EQ" against="true">
  <p class="msg msg-success" role="status" aria-live="polite"><strong>{tst:text value='successLabel'}</strong> {tst:text value='addedMessage'}</p>
</tst:if>
<tst:if compare="changed" operator="EQ" against="true">
  <p class="msg msg-success" role="status" aria-live="polite"><strong>{tst:text value='successLabel'}</strong> {tst:text value='changedMessage'}</p>
</tst:if>
<tst:if compare="invited" operator="EQ" against="true">
  <p class="msg msg-success" role="status" aria-live="polite"><strong>{tst:text value='successLabel'}</strong> {tst:text value='invitedMessage'}</p>
</tst:if>
<tst:if compare="hasApi" operator="EQ" against="true">
  <tst:if compare="generatedApiKey" operator="NE" against="">
    <div class="msg msg-success | flow-layout-xs" role="status" aria-live="polite">
      <p>{tst:text value='apiKeyGeneratedMessage'}</p>
      <p><strong>{tst:text value='apiKeyValueLabel'}</strong> <code>{tst:text value='generatedApiKey'}</code></p>
    </div>
  </tst:if>
</tst:if>
<tst:if compare="isInvited" operator="EQ" against="false">
  <div class="msg msg-note | flow-layout-xs" role="status" aria-live="polite">
    <p><strong>{tst:text value='noteLabel'}</strong> {tst:text value='notInvitedNote'}</p> <a href="{tst:text value='inviteHref'}"
                                          class="btn btn-primary">{tst:text value='inviteTitle'}</a>
  </div>
</tst:if>

<div class="grid-half">
  <div class="card | flow-layout-m">
    <div class="card-header">
      <h2>{tst:text value='personalDataHeading'}</h2>
    </div>
    <div class="details">
      <dl>
        <dt>{tst:text value='firstNameLabel'}</dt>
        <dd>{tst:text value='firstName'}</dd>
      </dl>
      <dl>
        <dt>{tst:text value='lastNameLabel'}</dt>
        <dd>{tst:text value='lastName'}</dd>
      </dl>
      <dl>
        <dt>{tst:text value='emailLabel'}</dt>
        <dd>{tst:text value='email'}</dd>
      </dl>
      <dl>
        <dt>{tst:text value='phoneLabel'}</dt>
        <dd>{tst:text value='phone'}</dd>
      </dl>
    </div>
  </div>

  <div class="card | flow-layout-m">
    <div class="card-header">
      <h2>{tst:text value='accessSettingsHeading'}</h2>
    </div>
    <div class="details">
      <dl>
        <dt>{tst:text value='registeredLabel'}</dt>
        <dd>{tst:text value='registered'}</dd>
      </dl>
      <dl>
        <dt>{tst:text value='welcomeEmailSentLabel'}</dt>
        <dd>
          {tst:text value='invitedDate'}
          <tst:if compare="isInvited" operator="EQ" against="true">
            [<a href="{tst:text value='inviteHref'}">{tst:text value='resendLink'}</a>]
          </tst:if>
        </dd>
      </dl>
      <dl>
        <dt>{tst:text value='lastLoginLabel'}</dt>
        <tst:if compare="lastLogin" operator="EQ" against="">
          <dd>{tst:text value='neverLabel'}</dd>
        </tst:if>
        <tst:else>
          <dd><a href="{tst:text value='visitsHref'}">{tst:text value='lastLogin'}</a></dd>
        </tst:else>
      </dl>
      <tst:if compare="hasMultipleLanguages" operator="EQ" against="true">
        <dl>
          <dt>{tst:text value='languageLabel'}</dt>
          <dd>{tst:text value='language'}</dd>
        </dl>
      </tst:if>
      <dl>
        <dt>{tst:text value='accessActiveLabel'}</dt>
        <dd>{tst:text value='active'}</dd>
      </dl>
      <dl>
        <dt>{tst:text value='userGroupsDetailLabel'}</dt>
        <dd>
          <tst:if compare="userGroups" operator="NE" against="null">
            <ul class="user-group-list">
              <tst:for value="userGroups" var="userGroup">
                <li>{tst:text value='userGroup.name'}</li>
              </tst:for>
            </ul>
          </tst:if>
        </dd>
      </dl>
      <dl>
        <dt>{tst:text value='ipWhitelistLabel'}</dt>
        <dd>
          <tst:if compare="ipWhitelist" operator="NE" against="null">
            <ul class="user-group-list">
              <tst:for value="ipWhitelist" var="item">
                <li>{tst:text value='item.ipAddress'}</li>
              </tst:for>
            </ul>
          </tst:if>
        </dd>
      </dl>
      <tst:if compare="hasApi" operator="EQ" against="true">
        <dl>
          <dt>{tst:text value='apiKeyLabel'}</dt>
          <dd>
            <tst:if compare="generateApiKeyHref" operator="NE" against="">
              <tst:if compare="apiKey" operator="NE" against="">
                {tst:text value='apiKey'}
                [<a href="{tst:text value='removeApiKeyHref'}" data-action="confirm-deletion" data-form="main form"
                 data-confirm="{tst:text value='removeApiKeyConfirm'}">{tst:text value='removeLink'}</a>]
              </tst:if>
              <tst:else>
                {tst:text value='noApiKey'}
              </tst:else>
              [<a href="{tst:text value='generateApiKeyHref'}" data-action="confirm-deletion" data-form="main form"
               data-confirm="{tst:text value='generateApiKeyConfirm'}"
               data-confirm-label="{tst:text value='generateApiKeyConfirmLabel'}">{tst:text value='generateApiKeyLink'}</a>]
            </tst:if>
            <tst:else>
              {tst:text value='apiKeyNeedsIpWhitelist'}
            </tst:else>
          </dd>
        </dl>
      </tst:if>
    </div>
  </div>
</div>