.btn + [data-dropdown="content"] {
  padding: var(--space-xxs) 0;
  border-radius: var(--br-m);
  background: #fff;
  box-shadow:
    0 4px 16px rgb(0 0 0 / 0.1),
    0 8px 32px rgb(0 0 0 / 0.05);
  min-width: 10em;
  width: max-content;
  z-index: 10;

  & ul {
    padding-inline-start: 0;
    list-style: none;

    & li {
      white-space: nowrap;
    }

    & a {
      padding: var(--space-xxs) var(--space-s);
      display: block;

      &:hover,
      &:focus {
        background: var(--surface-1);
      }
    }

    & a:not(.delete) {
      color: inherit;
    }
  }
}
