.section-top {
  background: var(--bg-section-top);
  box-shadow: 0 -1px 0 rgb(0 0 0 / 0.018) inset;
}

.section-top-inner {
  padding-block: var(--space-xs);
  padding-inline: var(--space-m);
  margin-inline: auto;
  max-width: var(--max-width-base);
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media (--sm) {
    padding-block: 0;
    height: var(--nav-user-height);
  }
}

.link-website {
  color: inherit;
  text-decoration-line: none;
  font-weight: var(--bold);

  &:hover,
  &:focus {
    color: var(--element-1);
    text-decoration-line: underline;
  }
}

.nav-user {
  margin-inline-start: auto;
}

.nav-user-list {
  padding-inline-start: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--space-m);
}

.nav-user-dropdown {
  & > [type="button"] {
    padding: 0;
    border: 0;
    background: transparent;
    color: var(--element-2);
    text-decoration-line: none;
    display: flex;
    align-items: center;
    gap: var(--space-xxxs);
    cursor: pointer;

    & svg {
      display: block;
      width: 1rem;
      height: 1rem;
      flex-shrink: 0;
      fill: currentcolor;
    }

    &::after {
      content: "";
      height: 1.5rem;
      width: 24px;
      display: block;
      background-image: var(--icon-arrow-down-s-line);
      background-size: 1rem;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.2s ease-in-out;
      opacity: 0.5;
    }

    &:hover,
    &:focus {
      &::after {
        opacity: 0.8;
      }
    }
  }

  .js & .nav-user-dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border-radius: var(--br-m);
    min-width: 11em;
    width: max-content;
    box-shadow:
      0 4px 16px rgb(0 0 0 / 0.1),
      0 8px 32px rgb(0 0 0 / 0.05);
    z-index: 10;

    & ul {
      padding: var(--space-xxs) 0;
      list-style: none;
    }

    & a {
      padding: var(--space-xxs) var(--space-s);
      display: flex;
      align-items: center;
      gap: var(--space-xxs);
      color: inherit;

      &:hover,
      &:focus {
        background: var(--surface-1);
      }

      svg {
        display: block;
        width: 1rem;
        height: 1rem;
        fill: currentcolor;
        flex-shrink: 0;
        transform: translateY(-0.1em);
      }
    }
  }
}
