.sort > a {
  position: relative;
  display: flex;
  gap: var(--space-xxxs);
  align-items: center;

  .box & {
    justify-content: flex-start;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    background-image: var(--icon-expand-up-down-line);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.38;
  }

  .sort-desc > &::after {
    background-image: var(--icon-arrow-down-s-line);
    opacity: 0.87;
  }

  .sort-asc > &::after {
    background-image: var(--icon-arrow-up-s-line);
    opacity: 0.87;
  }

  &:hover::after,
  &:focus::after {
    opacity: 0.87;
  }
}
