.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.wrap {
  flex-wrap: wrap;
}

/* OPT alignement.css ? */
.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}
