*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* color-scheme: dark light; */
  hanging-punctuation: first last;
  text-size-adjust: none;
}

body {
  min-height: 100svh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

p {
  text-wrap: pretty;
}

input,
button,
textarea,
select {
  font: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
pre,
blockquote,
ol,
ul,
li,
dl,
dt,
dd,
figure,
figcaption,
form,
fieldset,
input {
  margin: 0;
}

ul,
ol {
  padding-inline-start: var(--space-m);
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea {
  min-height: 24em;
  display: block;
}

:target {
  scroll-margin-block: 1ex;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
